@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://webfontworld.github.io/BMDoHyeon/BMDoHyeon.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Myanmar:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    color: #000000;
    outline: none !important;
}

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

html {
    font-size: 16px;
}

@media only screen and (max-width:1023px) {
    html {
        font-size: 12px !important;
      }
}


html > body {
    overflow-x: hidden;
    background: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    background: #fff 0% 0% no-repeat padding-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button{
    border: none;
    cursor: pointer;
}

span{
    display: inline-block;
}

h1{
    font-size: 2rem !important;
    letter-spacing: -1px;
    line-height: 2.65rem;
    font-weight: bold !important;
}

h3{
    font-size: 1.2rem;
}

.wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.main{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100vw;
}

.main__hero{
    width: 100%;
    height: 100vh;
    padding: 0 4.375rem;
    position: relative;
    overflow: hidden;
}

video{
    position: absolute;
    left: 0;
    width: 100%;
    height: 1040px;
    object-fit: cover;
    z-index: -1;
}

/* Chrome, Firefox, Edge, and Safari */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #AFAFAF;
  }
  
  ::-moz-placeholder { /* Firefox 19+ */
    color: #AFAFAF;
    opacity: 1; /* Required for Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #AFAFAF;
  }
  /* Microsoft Edge */
  ::placeholder {
    color: #AFAFAF;
  }

.margin-top4{
    margin-top: 4rem;
}
  
.main__content{
    position: absolute;
    top: 4.375rem;
    left: 4.375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 7rem);
}

@media only screen and (max-width:1023px) {
    .main__hero {
        height: 39rem;
        padding: 0 !important;
    }

    .main__content{
        top: 2rem;
        left: 1rem;
        height: auto !important;
    }

    .main__logo{
        background-size: 10.5rem !important;
    }

    .main__text{
        margin: 10rem 0 0 0 !important;
    }

    .main__join-number {
        font-size: 1rem !important;
    }

    .main__title {
        font-size: 2.5rem !important;
        line-height: 2.9rem !important;
    }

    video {
        height: 39rem !important;
    }

    .main__container-outer {
        height: 39rem !important;
        margin: 0 !important;
    }
}

.main__container-outer{
    position: relative;
    width: 100vw;
    margin-left: -4.375rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.main__logo{
    background-image: url('https://gpseoulwebserver.co.kr/asset/images/logo/Greenpeace_Logo_white_SVG.svg');
    background-size: 17.5rem;
    background-repeat: no-repeat;
    height: 50px;
}

.main__hero-scroll{
    position: absolute;
    display: block;
    background-image: url('https://gpseoulwebserver.co.kr/asset/images/rue/scroll.png');
    width: 3rem;
    height: 5rem;
    background-position: center 1.5rem;
    background-size: 1.5rem;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    bottom: -2rem;
    text-align: center;
    cursor: pointer;
}

@media only screen and (max-width:1023px) {
    .main__hero-scroll{
        display: none;
    }
}

.main__hero-scroll span{
    color: #fff;
    font-size: 0.5rem;
}

.main__join-number{
    position: relative;
    background-color: rgba(255, 255, 255, 0.72);
    padding: 0.2rem 0.5rem;
    font-size: 1.2rem;
    color: #006083;
}

.signed-number{
    color: #006083;
}

.main__join-number::after{
    content: "";
    display: block;
    width: 3rem;
    height: 4rem;
    background-image: url(https://gpseoulwebserver.co.kr/asset/images/rue/arrow.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 100%;
    left: 1.5rem;
    transform: translateX(-50%);
}

.main__text{
    margin: 0 0 0 4.375rem;
}

.main__title{
    font-family: 'BMDoHyeon';
    font-size: 3.5rem;
    margin-top: 2rem;
    color: #fff;
    line-height: 4rem;
    
}

.main__title span{
    display: inline-block;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    color: #1B346C;
    padding: 0.5rem 0.2rem 0;
    margin: 0 0 0.7rem;
}

.main__text a{
    display: block;
    height: 4rem;
    width: 22rem;
    margin-top: 2rem;
    text-align: center;
    line-height: 3.2rem;
    border: 0.25rem solid #FFFFFF;
    border-radius: 50px;
    font-size: 1.5rem;
    font-family: 'Noto Sans KR';
    color: #fff;
}

.main__form-area{
    width: 100vw;  
    display: flex;
    justify-content: center;
    padding: 8.75rem;
    background-color: #E7EFF4;
}

.main__form-center{
    display: flex;
    justify-content: space-between;
    width: 1440px;
}

.main__form-text{
    width: 28rem;
    margin-top: 6.25rem;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.8rem;
    text-align: left;
    letter-spacing: -1.13px;
}

.main__form-donate{
    width: 55%;
}

@media only screen and (max-width:1023px) {
    .main__form-area{
        padding: 8rem 1rem !important;
    }

    .main__form-center{
        display: flex;
        flex-direction: column;
        width: 100% !important;
    }

    .main__form-text{
        width: 100%;
        text-align: center;
        margin: 0 0 5rem 0;
    }

    .main__form-donate{
        width: 100%;
    }
}

.main_form-donate-top{
    display: flex;
    font-size: 1.56rem;
}
    
.tab-btn.active{
    background: #fff;
    border-radius: 25px 25px 0px 0px;
}

.tab-btn.active span{
    color: #004B00;
    border-bottom: 0.25rem solid #004B00;
}

.tab-btn span{
    color: #AFAFAF;
}

.tab-btn{
    width: 50%;
    height: 5.13rem;
    padding: 1.5rem 0;
    text-align: center;
    background-color: transparent; 
}

.tab-btn.active span::before{
    content: url('https://gpseoulwebserver.co.kr/asset/images/rue/check.svg'); /* 아이콘 이미지 경로 */
    margin-right: 0.5rem;
    vertical-align: middle;
}

.main__form-donate-range{
    margin-left: 0.9rem;
    display: flex;
    align-items: center;
}

.main__form-donate-range span{
    margin: 0;
    padding: 0;
}

.main__form-donate-process{
    margin-top: 0.625rem;
}

.main__form-donate-number{
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 1.9rem;
    border-radius: 50%;
    background-color: #EEEEEE;
    color: #fff;
    
}

.main__form-donate-number.active{
    background-color: #66cc00;
}

.main__form-donate-bar{
    width: 9.7rem;
    height: 0.44rem;
    background-color: #EEEEEE;
}

.main__form-donate-bar.active{
    background-color: #66CC00;
}

.main__form-donate-process{
    display: flex; 
    position: relative;
}

.amount-modify{
    display: flex !important;
    position: absolute;
    right: 0;
    top: -3rem;
    background-color: #66CC00;
    width: 8.8rem !important;
    align-items: center;
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: 1.5rem;
}

.amount-modify *{
    color: #fff !important;
}

/* .amount{
    font-size: 1.2rem !important;
    display: flex !important;
    width: 5rem !important;
    height: 1.5rem;
}

.amount span{
    font-size: 1.5rem!important;
    line-height: 0.5rem;
} */

.icon-pencil{
    width: 3rem !important;
    font-size: 0.8rem !important;
}

.main__form-donate-process span{
    display: inline-block;
    width: 13.3rem;
    font-size: 1.13rem;
    color: #D3D3D3;
}

.main__form-donate-process span.active{
    color: #66CC00;
}

.main__form-donate-main{
    padding: 1.94rem;
    background-color: #fff;
    border-radius: 0px 0px 1rem 1rem;
}



.main__form-donate-main p{
    font-size: 1.2rem;
    font-weight: 500;
}

.leaf::before{
    display: inline-block;
    content: url('https://gpseoulwebserver.co.kr/asset/images/rue/leaf.svg'); 
    margin-right: 8px; 
    vertical-align: middle; 
    width: 1.8rem;
    height: 1.53rem;
}

.bell::before{
    display: inline-block;
    content: url('https://gpseoulwebserver.co.kr/asset/images/rue/bell.svg'); 
    margin-right: 8px; 
    vertical-align: middle; 
    width: 1.8rem;
    height: 1.53rem;
}

.main__form-amount{
    display: flex;
}

.price-btn:not(:last-child) {
    margin-right: 0.9rem;
}

.price-btn{
    width: 33.33%;
    height: 4.5rem;
    font-size: 2.1rem;  
    border-radius: 0.5rem;
    background-color: #EEEEEE;
    color: #AFAFAF;
}

.price-btn span{
    font-size: 1.1rem;
    color: #AFAFAF;;
}

.price-btn.active{
    background-color: #66cc00;
    color: #fff;
}

.price-btn.active span{
    color: #fff;
}

.other-amount{
    width: 100%;
    height: 4.5rem;
    margin-top: 1.5rem;
    background-color: #EEEEEE;
    border-radius: 0.5rem;
    border: none;
    text-align: center;
    font-size: 1.2rem;
}

.btn-green, .btn-grey{
    width: 43.75rem;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 3rem;
}

.btn-green.alone, .btn-grey.alone{
    width: 80%;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.btn-green.pair, .btn-grey.pair{
    width: 50%;
}

.btn-green.pair:first-child, .btn-grey.pair:first-child{
    width: 50%;
    margin-right: 2rem;
}

.btn-green{
    background-color: #66cc00;
    color: #fff;
}

.btn-grey{
    background-color: #EEEEEE;
    color: #D3D3D3;
}

.safe-message{
    text-align: center;
    margin-top: 1.94rem;
    font-size: 1rem;
    color: #AFAFAF;
}

.safe-message::before{
    content: "";
    background-image: url('https://gpseoulwebserver.co.kr/asset/images/rue/safe.svg'); 
    background-size: 1rem;
    width: 1rem;
    height: 1.4rem;
    display: inline-block;
    text-align: center;
    margin-right: 8px; 
    vertical-align: middle; 

}

.tab-pane.active{
    display: block;
}

.tab-pane{
    display: none;
}

.tab-pane h2{
    font-size: 1.5rem;
    color: #004B00;
    text-align: center;
}

p{
    margin: 1.5rem 0 !important;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.8rem;
    font-weight: 300;
    letter-spacing: -0.7px;
}

@media only screen and (max-width:1023px) {
    p{
        margin: 1rem 0;
    }
}

.icon-earth{
    margin-top: 2rem;
}
.icon-earth span{
    background: url('https://gpseoulwebserver.co.kr/asset/images/rue/earth.svg') center center / cover no-repeat;
    width: 5.3rem;
    height: 6.36rem;
}

.type-btns{
    display: flex;
    margin-top: 2rem;
}

.align-center{
    text-align: center;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.main__donation-asking-half{
    display: flex;
    width: 100%;
    height: 26rem;
    padding-left: 8.75rem;
    background-color: #25577C;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 55% auto;
}

@media only screen and (max-width:1023px) {
    .main__donation-asking-half .to-form{
        display: none !important;
    }

    .main__donation-asking-half{
        flex-direction: column-reverse;
        padding-left: 0;
        height: auto;
    }

    .main__donation-asking-half .content-area{
        padding: 2rem;
    }

    .content-area{
        width: 100% !important;
        padding-top: 3rem;
        text-align: center;
    }
    
    .content-area p{
        text-align: center;
    }

    .main__donation-asking-half .image-area{
        width: 100% !important;
        background-image: url(https://gpseoulwebserver.co.kr/asset/images/rue/ryu-big-mobile.jpg) !important;
        background-size: cover !important;
        background-position: center !important;
        height: 20rem;
    }

    .content-area a{
        display: inline-block !important;
    }

}

.content-area{
    width: 35%;
    padding-top: 3rem;
}

.main__donation-asking-half .image-area{
    width: 65%;
    background-image: url(https://gpseoulwebserver.co.kr/asset/images/rue/bannerimage.png);
    background-size: cover;
    background-position: center;
}

.white{
    color: #fff;
}

.content-area a{
    display: block;
    height: 3rem;
    width: 60%;
    margin-top: 2rem;
    text-align: center;
    line-height: 2.4rem;
    border: 3px solid #FFFFFF;
    border-radius: 50px;
    font-size: 1.1rem;
    font-family: 'Noto Sans KR';
    color: #fff;
}

.main__donation-usage{
    padding-top: 4rem;
}

@media only screen and (max-width:1023px) {
    .main__donation-usage p{
        padding: 0 2rem;
    }

    .main__donation-usage-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 0px;
        margin-top: 3rem;
    }

    .main__donation-usage-item img{
        height: auto !important;
    }

    .usage-text{
        font-size: 1.1rem !important;
        line-height: 1.4rem;
        padding: 0 0.8rem;
    }
    
}

.main__donation-usage-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0px;
    margin-top: 3rem;
}

.main__donation-usage-item.odd{
    background-color: #D3DDE2;
}

.main__donation-usage-item.even{
    background-color: #4FB1BF;
}

.main__donation-usage-item img{
    width: 50%;
    height: 8rem;
    margin: 0 25%;
}

.main__donation-usage-item{
    padding: 1.875rem 0;
    text-align: center;
}

.usage-number{
    width: 100%;
    margin-top: 1rem;
    font-family: 'Noto Sans Myanmar', sans-serif;
    font-size: 3.2rem;
    font-weight: 900;
    color: #fff;
}

.percent{
    color: #fff;
    font-size: 1.7rem;
}

.usage-text{
    font-size: 1rem;
}

.main__donation-asking-full{
    display: flex;
    justify-content: flex-end;
    background: url('https://gpseoulwebserver.co.kr/asset/images/rue/ryu_2.jpg') left top / cover no-repeat;
    width: 100%;
    padding: 14rem 6rem;
}

@media only screen and (max-width:1023px) {
    .main__donation-asking-full{
        flex-direction: column;
        background: none;
        padding: 0;
    }

    .main__donation-asking-full .image-area{
        background: url('https://gpseoulwebserver.co.kr/asset/images/rue/ryu02-mobile.jpg') left top / cover no-repeat;
        height: 20rem;
    }

    .main__donation-asking-full .content-area{
        background-color: #A5AE38;
        padding-bottom: 2rem;
    }


    .main__donation-asking-full .content-area a{
        display: none !important;
    }
}

.main__activity{
    background: url('https://gpseoulwebserver.co.kr/asset/images/rue/background-grey.jpg') center top / cover no-repeat;
    background-size: 100% auto;
    padding: 8.75rem 8.75rem 0 8.75rem;
    background-color: #fff;
}

@media only screen and (max-width:1023px) {
    .main__activity {
        background-size: 100% 21rem;
        padding: 3rem 1rem 0 1rem;
    }

    .main__activity-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 1rem;
        padding-top: 1rem;
    }

    .main__activity p{
        padding: 0 3rem;
        text-align: center !important;
    }

    .main__activity h1{
        text-align: center;
    }

    .main__activity-item-text{
        font-size: 1.2rem !important;
        line-height: 1.5rem;
    }

    .main__activity-item img{
        height: 60% !important;
    }

    .main__activity-item-content{
        padding-right: 1rem !important;
    }
}

.main__activity-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding-top: 1rem;
}

.main__activity-item{
    background-color: #D3DDE2;
    border-radius: 1rem;
}

.main__activity-item img{
    border-radius: 1rem 1rem 0 0;
    max-width: 100%;
    max-height: 64%;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.main__activity-item-content{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1.5rem;
}

.main__activity-item-content span{
    color: #25577C !important;
}

.main__activity-item-number{
    width: 6rem;
    height: 6rem;
    margin-top: -3rem;
    background-color: #D3DDE2;
    border-radius: 50%;
    font-family: 'Noto Sans Myanmar', sans-serif;
    text-align: center;
}

.main__activity-item-number span{
    font-size: 4rem;
    border-bottom: #25577C solid 2px;
    line-height: 2rem;
    margin-top: 2rem;
    font-weight: bold;
}

.main__activity-item-text{
    margin: -0.5rem 0 2rem;
    font-size: 1rem;
    text-align: center;
}

.main__carousel{
    width: 100%;
    padding: 8.75rem 8.75rem 0 8.75rem;
}

@media only screen and (max-width:1023px) {
    .main__carousel{
        padding: 7rem 1rem 3rem 1rem;
    }
}

/* carousel */
.carousel{
    width: 100%;    
}

.carousel-body{
    display: flex;
    align-items: center;
    padding: 5rem 15%;
}

@media only screen and (max-width:1023px) {
    .carousel-body{
        padding: 2rem 0 !important; 
    }
}

.carousel-controls button {
    margin: 0.01rem;
    width: 0.2rem;
    height: 0.7rem;
    background-color: #D3D3D3;
    border-radius: 50%;
  }
  
.carousel-controls button.selected {
    background-color: #66CC00;
}
  
.slide-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem!important;
    overflow: hidden;
    width: 100%;
    position: relative;
    padding: 1.5rem 1rem!important;
  }
  
/* .slide {
    flex: 0 0 44%;
    flex-direction: column;
    position: relative;
    width: 27.5%;
    height: 26rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s, opacity 0.5s;
    margin-right: -31.5%;
    background-color: #EAEAE3;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 3rem 2rem;
    background-image: url(https://gpseoulwebserver.co.kr/asset/images/rue/quote.png);
    background-position: center 48%;
    background-repeat: no-repeat;
    background-size: 1.5rem;
}

.slide.selected {
    flex: 0 0 44%;
    opacity: 1;
    transform: translateY(-50px) scale(1.5);
    width: 44%;
    margin-right: -31.5%;
    height: 26rem;
    background-color: #fff;
    background-size: 2rem;
    background-position: center 40%;
} 

.slide p{
    position: absolute;
    top: 36%;
    padding: 0 1.5rem;
    text-align: center;
    font-size: 0.6rem;
    line-height: 1rem;
    color: #918F8F;
} 

.slide h3{
    font-size: 1.2rem;
    color: #918F8F;
    margin-top: -1.5rem;
    margin-bottom: 0;
}

.slide span{
    font-size: 0.6rem;
    color: #909090;
    margin-top: -0.5rem;
    font-weight: 300;
}
*/


.slide {
    flex: 0 0 100%;
    flex-direction: column;
    position: relative;
    height: 26rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s, opacity 0.5s;
    margin-right: -31.5%;
    background-color: #fff;
    box-shadow: 0px 5px 16px #00000033;
    padding: 3rem 2rem;
    background-image: url(https://gpseoulwebserver.co.kr/asset/images/rue/quote.png);
    background-position: center 52%;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    opacity: 1;
    width: 100%;
    height: 26rem;
    background-color: #fff;
    background-size: 2rem;
    background-position: center 52%;
}

.slide.selected {
    flex: 0 0 44%;
    opacity: 1;
    transform: translateY(-50px) scale(1.5);
    width: 44%;
    margin-right: -31.5%;
    height: 26rem;
    background-color: #fff;
    background-size: 2rem;
    background-position: center 40%;
} 

.slide p{
    position: absolute;
    top: 36%;
    line-height: 1.6rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0;
    padding: 0 2.5rem;
    color: #4E4E4E;
    margin-top: 4rem !important;
}

.slide .ppl{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: absolute;
    top: -1.75rem;
}

.slide.selected .ppl{
    width: 5.63rem;
    height: 5.63rem;
    border-radius: 50%;
}

.slide-title{
    position: absolute;
    top: 30%;
}

 .slide.selected .slide-title{
    position: absolute;
    top: 26%;
}

.slide h3{
    font-size: 1.4rem;
    color: #918F8F;
    margin-top: -1.5rem;
    margin-bottom: 0;
}

.slide.selected h3{
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: #000;
    margin-bottom: 0.1rem;
}

.slide span{
    font-size: 1rem;
    color: #000;
    margin-top: -0.5rem;
    font-weight: 300;
}

.slide.selected span{
    font-size: 0.8rem;
    color: #909090;
    margin-top: -0.5rem;
}

.button {
    position: relative;
    display: inline-block;
    padding: 2rem;
    border: none;
    cursor: pointer;
    overflow: hidden;
    background-color: transparent
}

.prev {
    position: absolute;
    top: 50%;
    left: 40%;
    width: 18px;
    height: 30px;
    transform: translate(-50%, -50%);
}

.prev::before,
.prev::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 4px;
    background-color: #66CC00;
}

.prev::before {
    transform: rotate(135deg);
    top: 2px;
}

.prev::after {
    transform: rotate(-135deg);
    bottom: 14px;
}

.next {
    position: absolute;
    top: 50%;
    right: 65%;
    width: 18px;
    height: 30px;
    transform: translate(50%, -50%);
}

.next::before,
.next::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 4px;
    background-color: #848484;
}

.next::before {
    transform: rotate(-135deg);
    top: 3px;
}

.next::after {
    transform: rotate(-45deg);
    top: 14px;
}

/* /////////////// swiper //////////////// */

.swiper-slide{
    width: 100% !important;
    padding: 2rem;
}

@media only screen and (max-width:1023px) {
    .swiper-button-prev:after, .swiper-button-next:after{
        font-size: 1.3rem !important;
    }

    .swiper-horizontal.swiper-css-mode>.swiper-wrapper {
        width: 89% !important;
    }

    .swiper-pointer-events{
        padding: 0 0 3rem 0 !important;
    }

    .slide p{
        padding: 0 1rem !important;
    }

    .slide{
        padding: 0 !important;
    }
}

.swiper-horizontal.swiper-css-mode>.swiper-wrapper {
    width: 62%;
}

.swiper-button-prev{
    color: #66cc00 !important;
    left: 0rem !important;
}

.swiper-button-next{
    color: #848484 !important;
    right: 0 !important;
}

.swiper-button-prev:after, .swiper-button-next:after{
    font-weight: bold;
}

.swiper-pointer-events{
    padding: 0 9rem 5rem 9rem;
}

footer{
    background: url('https://gpseoulwebserver.co.kr/asset/images/rue/footer.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    padding: 8.75rem;
}

@media only screen and (max-width:1023px) {
    footer{
        padding: 3rem 1rem !important;
    }

    .footer__text {
        flex-direction: column;
        padding: 0 2rem;
    }

    .footer__left{
        text-align: center;
        align-items: center;
    }

    .footer__right, .footer__left{
        width: 100% !important;
        padding-right: 0 !important;
    }
    .footer__right p, .footer__left p{ 
        text-align: center;
        font-size: 1rem !important;
    }

    .footer__link{
        padding: 0 3rem 8rem 3rem;
    }

    .footer__link a{
        line-height: 2rem;
    }

    .footer__link-url a{
        white-space: nowrap;
    }
}

.footer__text{
    display: flex;
}

.footer__right, .footer__left{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 5rem;
}

.footer__right p, .footer__left p{
    color: #484848;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.footer__right p{
    margin-top: 0;
}

.footer__left img{
    width: 10.5rem;
}

.footer__link{
    margin-top: 3rem;
}

.footer__link-url{
    color: #25577C;
    font-size: 1rem;

}

.footer__link * {
    color: #25577C;
}

.footer__link-url a{
    padding: 0 0.3rem;
}

.footer__link-url a:hover{
    font-weight: 900;
    text-decoration: underline ;
}

.footer__link-copy{
    font-size: 0.9rem;
    margin-top: 2rem;
}

.mobile__submit-area{
    display: none;
}

@media only screen and (max-width:1023px) {  
    .btn__mobile-submit{
        display: inline-block;
        width: 100%;
        height: 44px;
        border-radius: 35px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: -0.15px;
        line-height: 3.4rem;
        text-align: center;
        background: #66cc00;
        color: #ffffff;
    }

    .mobile__submit-area{
        z-index: 200;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 69px;
        padding: 13px 29px;
        box-shadow: 0 -3px 9px 0 rgba(0, 0, 0, 0.19);
        background: #fff;
    }
}

.gpea-donation-module__foot svg{
    display: none;
}

.step__head a{
    font-size: 1.5rem !important;
}

.gpea-donation-module__foot .foot-text{
    font-size: 14px !important;
}

@media only screen and (max-width:1023px) {  
    .gpea-donation-module__foot .foot-text{
        font-size: 12px !important;
    }
}

.gpea-donation-module .form-row + .form-row {
    margin-top: 0 !important;
}








